# Dependencies
node_modules

# Build outputs
.next
out
dist
dist-electron

# Cache
.cache

# Lock files
yarn.lock
package-lock.json
pnpm-lock.yaml

# Generated
*.min.js
*.min.css

# Public assets (don't format images/binary)
public/*.png
public/*.ico
public/*.svg
